#navHomePageCenterContainer {



    min-height: 500px;
    display: flex;
    flex-direction: column;

    .nav-link {
        background-color: whitesmoke !important;
        color: black !important;
        border-radius: 0 !important;
        width: max-content;
    }

    .nav-link:hover,
    .activelink {
        color: white !important;
        background-color: #000080 !important;
        border-radius: 0 !important;
    }

    .nav.nav-tabs {
        flex-wrap: nowrap;
        overflow: auto;
    }

    .nav-tabs.nav-link {
        border-radius: 0;
    }

}
.theme-tab.sub-nav{
    border: 0;
}

.There {
    display: flex;
}

.Hourly-up {
    display: flex;
    width: 100%;
    position: relative;
}

.Hourly-rate {
    font-size: 15px;
    margin: auto;
}

.col-7.col-sm-6.col-md-7.col-lg-8.col-xl-9.card-trainer {
    padding-left: 0;
    padding-right: 0;
}

.form-control.Freind.email {
    width: 25%;
}

.preview-image {
    display: flex;
    min-height: 150px;
    min-width: 80px;

}

.Trainer-box-1 {
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0;
    border-radius: 10px !important;
}

.card-body.upload {
    width: 20%;
    padding: 0;
    margin: 5px;

}

.Upload-body {}

.Up-box-1 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Up-box-2 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10px;
    padding: 8px;

}

.Up-box-3 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10px;
    padding: 8px;
}

#navHomePageCenterContainer.nav-link:active {
    background-color: white;
}
// .col-lg-4{
//  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//   border: 1px solid black;
//   border-radius: 10px !important;
// }
.selected-course {
    border: 2px solid #007bff; /* Change the color as needed */
  }