.react-strap-modal-full {
    max-width: 100% !important;
    margin-top: 0% !important;
}



// call view css


.full-height {
    height: vh !important;
}


.call-action-buttons {
    position: absolute !important;
    bottom: 0;
    left: 50%
}