.custom-scroll {
  scroll-behavior: smooth;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $light-color;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba($primary-color, 0.15);
  }
}
.scroll-invisiable {
  &::-webkit-scrollbar {
    width: 0;
  }
}
.owl-carousel {
  position: unset;
}
// Sidebar position fixed
.custom-sidebar {
  @extend .custom-scroll;
  position: fixed;
}

.custom-sidebar-content-booking {
  position: absolute;
  padding: 10px;
  max-width: 100%;
  width: 90%;
  margin: 0px !important;
  left: 103px !important;
  margin: 0;
  @media (max-width: 576px) {
    left: 0 !important;
    width: 100% !important;
    bottom: 0% !important;
    margin-top: 45px !important;
  }
}
.custom-trainer-scroll {
  height: 97vh !important;
  overflow-x: hidden !important;
  position: absolute;
  padding: 10px;
  left: $sidebar-spacing + 70px;
  max-width: 93%;
  width: 93%;
}

.custom-landing-page-trainer-details {
  height: 97vh !important;
  overflow-x: hidden !important;
  position: absolute;
  padding: 10px;
  max-width: 100% !important;
  width: 96% !important;
}
