.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 7px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.divider {
  margin-bottom: 48px !important;
}

.scs{
  position: absolute;
  right: -32%;
  top: 20%
}
